root = true

#### Core EditorConfig Options ####

# All files
[*]
indent_style = space

# New line preferences
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indentation and spacing
indent_size = 2
tab_width = 2
